<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Applicazioni Internet</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<div class="login-form">
    <h3>Login with:</h3>
    <p th:each="url : ${urls}">
        <a id="authorize" th:text="${url.key}" href="/oauth_authorize/web-client">Client</a>
    </p>
    <div class="text-center small">Laboratorio di Applicazioni Internet</div>
</div>

<script type="application/javascript">

    $(document).ready(function () {

        var authorizeBtn = $('#authorize');

        $(authorizeBtn).click(function () {
            authorize("/oauth/authorize/web-client")
        });
    });


    function authorize(url) {
        $.ajax({
            url: url,
            data: {
                authorize: 'Authorize',
                user_oauth_approval: 'true'
            },
            type: "POST",
            success: function (data) {
            }
        });
    }

</script>

</body>
</html>